{% extends "layout.html" %}
{% set messages = get_flashed_messages(with_categories=true) %}

{% block content %}

<div class="header-flex">
    {% if g.current_page == "project/my-tasks" %}
    <h1>My tasks</h1>
    {% else %}
    <h1>All tasks</h1>
    {% endif %}
    <div class="flex-horizontal">
        <button class="button-grey button-box-shadow no-wrap" onclick="toggleRightSidebar()">
            <i class="fa fa-search" style="margin-right:0.5em;"></i>Search
        </button>
    </div>
</div>
<hr style="margin-top:0;">

<div class="grid-container">
    <div class="task-item-group table-title">
        <div></div>
        <div>Task title</div>
        <div>Project title</div>
        <div>Priority</div>
        <div>Deadline</div>
        <div>State</div>
        <div>Assigned Members</div>
    </div>
    {% for task in g.tasks %}
    <div class="task-item-group">
        <div class="task-summary">
            <button class="detail-toggle"><i class="fa fa-fw fa-caret-right" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <a class="link-underline" href="{{url_for('projects.route_all_tasks', group_id=g.group_id, project_id=task.project_id)}}">
                <div onclick="sessionStorage.setItem('project-dropdown-state', true);">{{task.project_title}}</div>
            </a>
            <div>{{task.priority.display_name}}</div>
            <div {% if task.deadline and task.deadline|is_past_date %}class="task-overdue"{% endif %}>{{task.deadline|format_datetime}}</div>
            <div>{{task.state.display_name}}</div>
            {% if task.members %}
                <div>   
                {% for user in task.members %}
                    <span class="{% if not user.is_member %}text-disabled{% endif %}">
                        {{user.username}}{% if not loop.last %}, {% endif %}
                    </span>
                {% endfor %}
                </div>
            {% else %}
                <div><span>None</span></div>
            {% endif %}
        </div>
        <div class="task-details">
            <button onclick="resetStateEditMode(this)" class="detail-toggle"><i class="fa fa-fw fa-caret-down" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <a class="link-underline" href="{{url_for('projects.route_all_tasks', group_id=g.group_id, project_id=task.project_id)}}">
                <div onclick="sessionStorage.setItem('project-dropdown-state', true);">{{task.project_title}}</div>
            </a>
            <div>{{task.priority.display_name}}</div>
            <div {% if task.deadline and task.deadline|is_past_date %}class="task-overdue"{% endif %}>{{task.deadline|format_datetime}}</div>

            <div class="state-field">{{task.state.display_name}}</div>
            <form action="{{url_for('tasks.route_edit_state', group_id=g.group_id, project_id=task.project_id, task_id=task.id)}}" method="POST" style="display: none;">
                <select name="state" data-value="{{task.state.value}}">
                {% for state in g.states %}
                    <option value="{{state.value}}" {% if state.value == task.state.value %}selected disabled{% endif %}>{{state.display_name}}</option>
                {% endfor %}
                </select>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </form>

            {% if task.members %}
                <div>
                {% for user in task.members %}
                    <span class="{% if not user.is_member %}text-disabled{% endif %}">
                        {{user.username}}{% if not loop.last %}, {% endif %}
                    </span>
                {% endfor %}
                </div>
            {% else %}
                <div><span>None</span></div>
            {% endif %}

            <div class="secondary-text" style="grid-column: 2 / 6;">{% if task.description.strip() != '' %}{{task.description}}{% else %}No description.{% endif%}</div>

            {% if not task.archived %}
            <div class="buttons-1" style="grid-column: 2 / 7;">
                {% if g.role.value >= g.role_enum.Collaborator.value or task.members|user_in_task(g.username) %}
                <button onclick="enableStateEditMode(this)" class="button-grey button-small">Change State</button>
                {% endif %}
            </div>
            
            <div class="buttons-2" style="grid-column: 2 / 7;display:none">
                <button onclick="submitStateForm(this)" class="button-green button-small">Confirm</button>
                <button onclick="resetStateEditMode(this)" class="button-red button-small">Cancel</button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if not g.tasks %}
    <div class="empty-placeholder all-column-item"> No tasks found! </div>
    {% endif %}
</div>

{% endblock %}

{% block sidebar_right %}
{% include 'search-sidebar/content-block.html' with context %}
{% endblock %}

{% block scripts %}
{% include 'search-sidebar/script-block.html' %}
<script>
document.querySelectorAll('.task-summary button.detail-toggle').forEach(button => {
  button.addEventListener('click', function () {
    const summary = this.parentElement;
    const details = summary.nextElementSibling;
    summary.style.display = 'none';
    details.style.display = 'contents';
  });
});
document.querySelectorAll('.task-details button.detail-toggle').forEach(button => {
  button.addEventListener('click', function () {
    const details = this.parentElement;
    const summary = details.previousElementSibling;
    summary.style.display = 'contents';
    details.style.display = 'none';
  });
});
function enableStateEditMode(button){
    document.querySelectorAll(".task-details .buttons-1").forEach(element => resetStateEditMode(element));
    const parent = button.closest(".task-details");
    parent.querySelector(".state-field").style.display = "none";
    parent.querySelector("form").style.display = "block";
    button.parentElement.style.display = "none";
    button.parentElement.nextElementSibling.style.display = "block";
}
function resetStateEditMode(button){
    const parent = button.closest(".task-details");
    parent.querySelector(".buttons-1").style.display = "block";
    parent.querySelector(".buttons-2").style.display = "none";
    parent.querySelector(".state-field").style.display = "block";
    parent.querySelector("form").style.display = "none";
    const select = parent.querySelector("form select");
    const optionToSelect = select.querySelector("option[value='" + select.dataset.value + "']");
    optionToSelect.selected = true;
}
function submitStateForm(button){
    saveSidebar();
    const parent = button.closest(".task-details");
    parent.querySelector("form").submit();
}
</script>
{% endblock %}