{% extends "layout.html" %}
{% block content %}
<form action="/create-group" method="POST">
    <p>Group name:</p>
    <input type="text" name="name-stored" maxlength="{{MAX_INPUT_SIZES['group_name']}}"> <br>
    <p>Group description:</p>
    <textarea style="width: 100%; height: 10em;" name="desc-stored" rows="10" cols="50" maxlength="{{MAX_INPUT_SIZES['group_description']}}"></textarea>
    <br> <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button type="submit" class="button-green">Submit</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    {% endwith %}
</form>
{% endblock %}

