{% extends "layout.html" %}
{% block content %}

<h1>General</h1>
<hr>
<div id="view-mode">
    <p>Group name:</p>
    <div class="editable-data-field"><span>{{g.group_details.name}}</span></div>
    <p>Group description:</p>
    <div class="editable-data-field"><span>{{g.group_details.description}}</span></div>
    <button class="button-grey" onclick="toggleEditMode(true)">Edit</button>
</div>
<div id="edit-mode" style="display: none;">
    <form action="/group/{{g.group_id}}/settings" method="POST">
        <p>Group name:</p>
        <input type="text" name="name" maxlength="{{MAX_INPUT_SIZES['group_name']}}">
        <p>Group description:</p>
        <textarea style="width: 100%; height: 10em;" name="desc" maxlength="{{MAX_INPUT_SIZES['group_description']}}"></textarea>
        <br> <br>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <button type="button" class="button-red" onclick="toggleEditMode(false)">Cancel</button>
        <button type="submit" class="button-green">Submit</button>
        <p style="color:red"> {{ g.error_message }} </p>
    </form>
</div>  

{% endblock %}
{% block scripts %}
<script>
    let group_name = "{{g.group_details.name}}";    
    let group_desc = "{{g.group_details.description}}";
    function toggleEditMode(editing = true) {
        const viewMode = document.getElementById('view-mode');
        const editMode = document.getElementById('edit-mode');
        if (editing) {
            viewMode.style.display = 'none';
            editMode.style.display = 'block';
            editMode.querySelector("form input[name='name']").value = group_name;
            editMode.querySelector("form textarea[name='desc']").value = group_desc;
        } else {
            viewMode.style.display = 'block';
            editMode.style.display = 'none';
        }
    }
</script>
{% endblock %}