{% extends "layout.html" %}
{% set messages = get_flashed_messages(with_categories=true) %}
{% block content %}

<h1>Members</h1>
<hr>
<div class="member-container">
    <div class="member-item table-title">
        <div>Username</div>
        <div>Role</div>
        <div>Status</div>
        <div>Actions</div>
    </div>
    {% for member in g.members %}
    <div class="member-item">
        <div class="secondary-text">{{member.username}}</div>
        <div class="secondary-text">{{member.role.display_name}}</div>
        {% if member.is_invitee %}
        <div class="secondary-text">Invited</div>
        {% else %}
        <div class="secondary-text">Member</div>
        {% endif %}
    </div>
    {% endfor %}
    {% if g.role.value >= g.role_enum.Co_owner.value %}

    <h3> Invite user: </h3>
    <form action="{{url_for('groups.route_members_add', group_id=g.group_id)}}" method="POST">
        <label> Username: </label>
        <input type="text" name="username-stored" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
        <br> <br>
        <label for="role">Role:</label>
        <select name="role-stored">
            {% for role in g.role_enum %}
                {% if role != g.role_enum.Owner %}
                <option value="{{role.value}}">{{role.name|replace('_','-')}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <button type="submit" class="button-grey">Invite</button>
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    </form>
    {% endif %}
</div>



{% endblock %}
