{% extends "layout.html" %}
{% block content %}

<h3>Members:</h2>
<hr>
{% for member in g.group_members %}
<p class="secondary-text"> {{member.username}} - {{member.role.display_name}} </p>
<hr>
{% endfor %}

{% if g.group_invitees|length > 0 %}
<h3>Invited:</h2>
<hr>
{% for invitee in g.group_invitees %}
<p class="secondary-text"> {{invitee.username}} - {{invitee.role.display_name}} </p>
<hr>
{% endfor %}
{% endif %}

{% if g.can_invite %}
<h3> Invite user: </h3>
<form action="/group/{{g.group_id}}/members/add" method="POST">
    <p> Username: </p>
    <input type="text" name="username-stored" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
    <br> <br>
    <label for="role">Role:</label>
    <select name="role-stored">
        {% for role in g.roles %}
        <option value="{{role.value}}">{{role.name|replace('_','-')}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button type="submit" class="button-grey">Invite</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    {% endwith %}
</form>
{% endif %}

{% endblock %}
