{% extends "layout.html" %}
{% block content %}

<h1>Create New Project</h1>
<hr>
<form action="{{url_for('projects.route_new', group_id=g.group_id)}}" method="POST">
    <p>Project name:</p>
    <input type="text" name="name-stored" maxlength="{{MAX_INPUT_SIZES['project_name']}}" required> <br>
    <p>Project description:</p>
    <textarea style="width: 100%; height: 10em;" name="desc-stored" rows="10" cols="50" maxlength="{{MAX_INPUT_SIZES['project_description']}}"></textarea>
    <br> <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button type="submit" class="button-green">Create</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    {% endwith %}
</form>

{% endblock %}