{% extends "layout.html" %}
{% block content %}

<h1>Active Projects</h1>
<hr>
<div class="card-holder">
{% for project in g.projects %}
    <div class="card">
        <div class="card-title">{{project.name}}</div>
        <div class="card-desc">{{project.description}}</div>
        <div class="card-button">
            <a href="/group/{{g.group_id}}/project/{{project.id}}">
                <button class="button-green-inverted">View</button>
            </a>
        </div>  
    </div>
{% endfor %}
{% if not g.projects %}
<div class="empty-placeholder all-column-item"> No active projects! </div>
{% endif %}
{% if g.can_create_project %}
<a href="/group/{{g.group_id}}/projects/new" class="all-column-item">
    <button class="button-grey">Create New Project</button>
</a>
{% endif %}
</div>



<h1>Archived Projects</h1>
<hr>

{% endblock %}