{% extends "layout.html" %}
{% set messages = get_flashed_messages(with_categories=true) %}

{% block content %}
{% if g.role.value >= g.role_enum.Co_owner.value %}
<h1>General</h1>
<hr>
<div id="view-mode">
    <p>Group name:</p>
    <div class="editable-data-field"><span id="name-display" >{{g.group_details.name}}</span></div>
    <p>Group description:</p>
    <div class="editable-data-field"><span id="desc-display">{{g.group_details.description}}</span></div>
    <button class="button-grey button-box-shadow" onclick="toggle_edit_mode(true)">Edit</button>
</div>
<div id="edit-mode" style="display: none;"> 
    <form action="{{url_for('groups.route_settings_details', group_id=g.group_id)}}" method="POST">
        <p>Group name:</p>
        <input type="text" name="name-stored" maxlength="{{MAX_INPUT_SIZES['group_name']}}">
        <p>Group description:</p>
        <textarea name="desc-stored" maxlength="{{MAX_INPUT_SIZES['group_description']}}"></textarea>
        <br> <br>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        <button type="button" class="button-red" onclick="toggle_edit_mode(false);remove_errors();">Cancel</button>
        <button type="submit" class="button-green">Submit</button>
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    </form>
</div>
<br>
{% endif %}

<h1>Group Actions</h1>
<hr><br>
{% if g.role.value == g.role_enum.Owner.value %}
<form action="{{url_for('groups.route_settings_delete_group', group_id=g.group_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button class="button-red-inverted button-box-shadow" onclick="return confirm('Are you sure you want to delete this group?');">Delete Group Permanently</button>
    {% for category, message in messages %}
        {% if category == 'bad-form2' %}
            <p class="error" style="color:red"> {{message}} </p>
        {% endif %}
    {% endfor %}
</form>
{% else %}
<form action="{{url_for('groups.route_settings_leave_group', group_id=g.group_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button class="button-red-inverted button-box-shadow" onclick="return confirm('Are you sure you want to leave this group?');">Leave This Group</button>
    {% for category, message in messages %}
        {% if category == 'bad-form3' %}
            <p class="error" style="color:red"> {{message}} </p>
        {% endif %}
    {% endfor %}
</form>
{% endif %}


{% endblock %}
{% block scripts %}
<script>
    const viewMode = document.getElementById('view-mode');
    const editMode = document.getElementById('edit-mode');
    function toggle_edit_mode(editing = true) {
        if (editing) {
            viewMode.style.display = 'none';
            editMode.style.display = 'block';
            editMode.querySelector("form input[name='name-stored']").value = document.getElementById("name-display").innerHTML;
            editMode.querySelector("form textarea[name='desc-stored']").value = document.getElementById("desc-display").innerHTML;
        } else {
            viewMode.style.display = 'block';
            editMode.style.display = 'none';
        }
    }
    if('edit-mode-stored' in stored_data){
        viewMode.style.display = 'none';
        editMode.style.display = 'block';
    }
</script>
{% endblock %}