<script>
function toggleRightSidebar(instant = false){
    const sidebar = document.querySelector(".sidebar-right-container");
    if(!sidebar) return;
    if(instant) sidebar.classList.remove("sidebar-animate");
    sidebar.classList.toggle("sidebar-open");
    if(instant) setTimeout(() => sidebar.classList.add("sidebar-animate"), 1);
}
{% if request.args.get("search", "0") == "1" %}
toggleRightSidebar(true);
{% endif %}

const container = document.querySelector('.draggable-container');
container.addEventListener('dragstart', element => {
    if (element.target.classList.contains('draggable-item')) {
        element.target.classList.add('dragging');
    }
});
container.addEventListener('dragend', element => {
    if (element.target.classList.contains('draggable-item')) {
        element.target.classList.remove('dragging');
    }
});
container.addEventListener('dragover', element => {
    const draggingElement = document.querySelector('.dragging');
    const nextElement = getElementBelowDrag(container, element.clientY);
    if (nextElement == null) {
        container.appendChild(draggingElement);
    } else {
        container.insertBefore(draggingElement, nextElement);
    }
});

// Helper function to get the nearest element below the dragged position
function getElementBelowDrag(container, y) {
    const draggableElements = [...container.querySelectorAll('.draggable-item:not(.dragging)')];
    return draggableElements.reduce((closest, child) => {
        const box = child.getBoundingClientRect();
        const offset = y - (box.top + box.height / 2);
        
        if (offset < 0 && offset > closest.offset) {
            return { offset: offset, element: child };
        } else {
            return closest;
        }
    }, { offset: Number.NEGATIVE_INFINITY }).element;
}
function orderDragElements(order){
    const dragElements = [...container.querySelectorAll('.draggable-item')];
    for(let i = 0; i < order.length; i++){
        const dragElement = dragElements.find(item => item.querySelector("input").value === order[i]);
        container.appendChild(dragElement);
    }
}

const searchForm = document.getElementById("search-form");
function saveUIState(){
    let dropdownState = [];
    searchForm.querySelectorAll(".dropdown").forEach(element => {
        dropdownState.push(element.querySelector(".dropdown-item-container").style.display);
    });
    sessionStorage.setItem("dropdownState", JSON.stringify(dropdownState));
}
function submitSearchForm(){
    saveUIState();
    searchForm.submit();
}

orderDragElements({{request.args.getlist("sort")|tojson}});
const dropdownState = JSON.parse(sessionStorage.getItem("dropdownState"));
if(dropdownState !== null){
    sessionStorage.removeItem("dropdownState")
    dropdowns = searchForm.querySelectorAll(".dropdown");
    for(let i = 0; i < dropdowns.length; i++){
        if(dropdownState[i] == 'block'){
            toggleDropdown(dropdowns[i].querySelector("button"));
        }
    }
}

</script>