:root {
    --primary-text: #333333;
    --secondary-text: #414349;
    --primary-background: #f3f4f6c5;
    --error-color: #EF4444;
    --success-color: #10B981;
}

.secondary-text {
    color: var(--secondary-text);
}

body {
    background-color: var(--primary-background);
    color: var(--dark-charcoal);
    margin: 0px;
}
body, textarea, input {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
}

/* HEADER */
header {
    background-color: #1850e7;
    color: var(--secondary-text);
    padding: 12px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 6vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    color: white;
    width: 100%;
}

header nav span a, header nav span span {
    color: white;
    padding: 0px 8px;
}

.page-container {
    display: flex;
    height: 94vh;
    overflow: hidden;
}

/* SIDERBAR */
.sidebar {
    background-color: #87b2f8;
    width: 160px;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: large;
    margin: 6px 6px;
    border-radius: 12px;
    padding: 12px 20px;
    display: block;
}

.sidebar-deactive {
    background-color: #5c94ee;
}
.sidebar-deactive:hover {
    background-color: #2e5aca;
}
.sidebar-active {
    background-color: #316c9e;
}

/* MAIN CONTENT */
.main {
    flex-grow: 1;
    overflow-y: auto;
    width: 160px;
    background-color: var(--primary-background);
}

.content {
    margin: 10px auto;
    width: 80%;
    max-width: 80em;
    padding: 2em;
}

/* BUTTONS */
.button-green {
    background-color: #1f883d;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.4em 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}
.button-green:hover {
    background-color: #1c7736;
}
.button-green-inverted {
    background-color: white;
    border: 1px solid #1f883d;
    border-radius: 5px;
    padding: 0.4em 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #1f883d;
}
.button-green-inverted:hover {
    border-color: grey;
    background-color: #1f883d;
    color: white;
}
.button-red {
    background-color: #961818;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.4em 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}
.button-red:hover {
    background-color: #6e1414;
}
.button-red-inverted {
    border: 1px solid #961818;
    border-radius: 5px;
    padding: 0.4em 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #961818;
}
.button-red-inverted:hover {
    border-color: grey;
    background-color: #961818;
    color: white;
}
.button-grey {
    background-color: #ebebeb;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.4em 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}
.button-grey:hover {
    background-color: #dddddd;
}

.button-small {
    font-weight: normal;
    font-size: 70%;
}


/* CARDS */

.card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    padding: 2% 3%;
    gap: 1em;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    min-width: 16em;
    max-width: 24em;
    padding: 1em;
}
.card-title {
    box-sizing: border-box;
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.2em;
}
.card-desc {
    box-sizing: border-box;
    color: var(--secondary-text);
    height: 100%;
    line-height: 1;
    max-height: 4em;
    overflow: hidden;
    overflow-wrap: break-word;
}
.card-button {
    box-sizing: border-box;
    padding-top: 0.5em;
}
.card-item {
    box-sizing: border-box;
}
.all-column-item {
    grid-column: 1 / -1;
}

.empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    color: var(--secondary-text);
    font-size: large;
}

/* TASK ROW LAYOUT */
.tasks-container {
    padding: 2% 3%;
}
.task-item {
    display: grid;
    grid-template-columns: 1.4em minmax(4em, 7fr) 5em 8.5em 6em minmax(4em, 5fr);
    align-items: center;
    gap: 0.5em 1em;
    line-height: 1;
    padding: 0.5em 0;
    border-bottom: 1px solid grey;
}
.table-title{
    font-weight: bold;
}
.task-item div {
    overflow: hidden;
    overflow-wrap: break-word;
}
.task-summary {
    display: contents;
}
.task-summary div {
    max-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.task-details {
    display: none;
    overflow-wrap:anywhere;
}

/* CREATE TASK FORM */
#member-view {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    gap: 0.5em;
}
.selected-member {
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    color: var(--primary-text);
    font-size: small;
    padding: 0.7em;
    margin-right: 0.5em;
}
.selected-member:hover {
    background-color: lightcoral;
    padding-right: 2em;
}
.selected-member span {
    display: none;
    position: absolute;
    top: 0.6em;
    right: 0.3em;
    padding-left: 0.2em;
    font-size: 1em;
}
.selected-member:hover span {
    display: inline;
}


/* OTHER */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header-flex a {
    margin-right: 3%;
}

.editable-data-field{
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1em 0px;
}
.editable-data-field span{
    display: inline-block;
    box-sizing: border-box;
    color: var(--secondary-text);
    border: 1px solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 0.5em;
    background-color: white;
    font-size: small;
    max-width: 100%;
}

form textarea, form input{
    border: 1px solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 0.5em;
    background-color: white;
    font-size: small;
}

textarea{
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 10em;
}