:root {
    --primary-blue: #1850e7;
    --secondary-blue: #87b2f8;
    --light-gray: #F3F4F6;
    --dark-charcoal: #333333;
    --secondary-text: #414349;
    --error-color: #EF4444;
    --success-color: #10B981;
}

.secondary-text {
    color: var(--secondary-text);
}

body {
    background-color: var(--light-gray);
    color: var(--dark-charcoal);
    font-family: Arial, sans-serif;
    margin: 0px;
}

/* HEADER */
header {
    background-color: var(--primary-blue);
    color: var(--secondary-text);
    padding: 24px 16px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    color: white;
}

header nav span a, header nav span span {
    color: white;
    padding: 0px 8px;
}

.page-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* SIDERBAR */
.sidebar {
    background-color: var(--secondary-blue);
    width: 200px;
}

/* MAIN CONTENT */
.content {
    flex-grow: 1;
    margin: 0;
    padding: 16px 32px;
}




