{% extends "layout.html" %}
{% block content %}
<form action="/create-group" method="POST">
    <label for="desc">Group name:</label><br>
    <input type="text" name="name" maxlength="{{MAX_INPUT_SIZES['group_name']}}"> <br>
    <label for="desc">Group description:</label><br>
    <textarea name="desc" rows="10" cols="50" maxlength="{{MAX_INPUT_SIZES['group_description']}}"></textarea>
    <br> <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="submit" value="Create group">
    <p style="color:red"> {{ error_message }} </p>
</form>
{% endblock %}
