{% extends "layout.html" %}
{% block content %}
<p> Create new user </p>
<form action="/create-user" method="POST">
    <p> Username: </p>
    <input type="text" name="username" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
    <p> Password: </p>
    <input type="password" name="password" maxlength="{{MAX_INPUT_SIZES['password']}}" required>
    <p> Password again: </p>
    <input type="password" name="password_check" maxlength="{{MAX_INPUT_SIZES['password']}}" required>
    <br> <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <input type="submit" value="Create Account">
    <p style="color:red"> {{ g.error_message }} </p>
    <p> Already have an account? <a href="/login"> Log in! </a></p>
</form>
{% endblock %}
