<p> Logged in as {{ session.username }}</p>
<a href="/"> Back </a>
<h1>{{group_details.name}}</h1>
<p>{{group_details.description}}</p>

<h3>Group members:</h2>
<hr>
{% for member in group_members %}
{{member.username}} - {{member.role|replace('_','-')}}
<hr>
{% endfor %}

{% if group_invitees|length > 0 %}
<h3>Invited users:</h2>
<hr>
{% for invitee in group_invitees %}
{{invitee.username}} - {{invitee.role|replace('_','-')}}
<hr>
{% endfor %}
{% endif %}


{% if can_invite %}
<h4> Invite user: </h4>
<form action="" method="POST">
<p> Username:
<input type="text" name="username" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
</p>
<label for="role">Role:</label>
<select name="role">
    {% for role in roles %}
    <option value="{{role.value}}">{{role.name|replace('_','-')}}</option>
    {% endfor %}
</select>
<br><br>
<input type="submit" value="Invite">
<p style="color:red"> {{ error_message }} </p>
</form>
{% endif %}