{% extends "layout.html" %}
{% block content %}

<h1>{{g.group_details.name}}</h1>
<p>{{g.group_details.description}}</p>

<h3>Group members:</h2>
<hr>
{% for member in g.group_members %}
<p class="secondary-text"> {{member.username}} - {{member.role|replace('_','-')}} </p>
<hr>
{% endfor %}

{% if g.group_invitees|length > 0 %}
<h3>Invited users:</h2>
<hr>
{% for invitee in g.group_invitees %}
<p class="secondary-text"> {{invitee.username}} - {{invitee.role|replace('_','-')}} </p>
<hr>
{% endfor %}
{% endif %}

{% if g.can_invite %}
<h4> Invite user: </h4>
<form action="" method="POST">
<p> Username:
<input type="text" name="username" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
</p>
<label for="role">Role:</label>
<select name="role">
    {% for role in g.roles %}
    <option value="{{role.value}}">{{role.name|replace('_','-')}}</option>
    {% endfor %}
</select>
<br><br>
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
<input type="submit" value="Invite">
<p style="color:red"> {{ error_message }} </p>
</form>
{% endif %}

{% endblock %}