<a href="/"> Back </a>
<h1>{{group_details.name}}</h1>
<p>{{group_details.description}}</p>

<h3>Group members:</h2>
<hr>
{% for member in group_members %}
{{member.username}} - {{member.role}}
<hr>
{% endfor %}

{% if group_invitees|length > 0 %}
<h3>Invited users:</h2>
<hr>
{% for invitee in group_invitees %}
{{invitee.username}} - {{invitee.role}}
<hr>
{% endfor %}
{% endif %}

<h4> Invite user: </h4>
<form action="" method="POST">
<p> Username: </p>
<input type="text" name="username" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
<br><br>
<input type="submit" value="Invite">
<p style="color:red"> {{ error_message }} </p>
</form>