{% extends "layout.html" %}
{% block content %}

<h1>Your groups</h1>
<hr>
<div class="card-holder">
{% for group in g.groups %}
    <div class="card">
        <div class="card-title all-column-item">{{group.name}}</div>
        <div class="card-desc all-column-item">{{group.description}}</div>
        <div class="card-button">
            <a href="{{url_for('groups.route_dashboard', group_id=group.id)}}"><button class="button-green-inverted">Enter</button></a>
        </div>
        <div class="card-item secondary-text" style="justify-self:end;align-self:end;">{{group.role.display_name}}</div>
    </div>
{% endfor %}
{% if not g.groups %}
<div class="empty-placeholder all-column-item"> No groups! Begin by creating or joining one! </div>
{% endif %}
<a href="{{url_for('groups.route_create')}}" class="all-column-item">
    <button class="button-grey button-box-shadow">Create New Group</button>
</a>
</div>

<h1> Invites </h1>
<hr>
<div class="card-holder">
{% for group in g.invites %}
    <div class="card">
        <div class="card-title all-column-item">{{group.name}}</div>
        <div class="card-desc all-column-item">{{group.description}}</div>
        <div class="card-button">
            <a href="{{url_for('groups.route_join', group_id=group.id)}}"><button class="button-green-inverted">Join</button></a>
        </div>
        <div class="card-item secondary-text" style="justify-self:end;align-self:end;">{{group.role.display_name}}</div>
    </div>
{% endfor %}
{% if not g.invites %}
<div class="empty-placeholder all-column-item"> No invites! </div>
{% endif %}
</div>

{% endblock %}