<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A project management application.">
    <meta name="author" content="Jonni Haapiainen">
    <title>{% block title %}Project Management App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <span class="left-align">
                <span> Project Management App </span>
                {% if 'username' in session %}
                <a href="/">Home</a>
                <!--<a href="/">My Groups</a>-->
                {% endif %}
            </span>
            <span class="right-align">
                {% if 'username' in session %}
                <a href="/user/{{session['username']}}">{{session['username']}}</a> -
                <a href="/logout">Logout</a>
                {% endif %}
            </span>
        </nav>
    </header>
    
    <div class="page-container">
        {% if g.sidebar %}
        <aside class="sidebar">
            <ul>
                <li><a href="/group/{{g.group_id}}/dashboard" class="{% if g.current_page == 'dashboard' %}sidebar-active{% else %}sidebar-deactive{% endif %}">Dashboard</a></li>
                <li><a href="/group/{{g.group_id}}/projects" class="{% if g.current_page == 'projects' %}sidebar-active{% else %}sidebar-deactive{% endif %}">Projects</a></li>
                <li><a href="/group/{{g.group_id}}/tasks" class="{% if g.current_page == 'tasks' %}sidebar-active{% else %}sidebar-deactive{% endif %}">Tasks</a></li>
                <li><a href="/group/{{g.group_id}}/members" class="{% if g.current_page == 'members' %}sidebar-active{% else %}sidebar-deactive{% endif %}">Members</a></li>
                <li><a href="/group/{{g.group_id}}/settings" class="{% if g.current_page == 'settings' %}sidebar-active{% else %}sidebar-deactive{% endif %}">Settings</a></li>
            </ul>
        </aside>
        {% endif %}
        <main class="main">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>