<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A project management application.">
    <meta name="author" content="Jonni Haapiainen">
    <title>{% block title %}Project Management App{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            <span class="left-align">
                <span> Project Management App </span>
                {% if 'username' in session %}
                <a href="{{url_for('base.route_index')}}">Home</a>
                {% endif %}
            </span>
            <span class="right-align">
                {% if 'username' in session %}
                <span>{{session['username']}}</span> -
                <a href="{{url_for('auth.route_logout')}}">Logout</a>
                {% endif %}
            </span>
        </nav>
    </header>
    
    <div class="page-container">
        {% if g.sidebar %}{% include "primary-sidebar/content.html" %}{% endif %}
        <main class="main">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% if g.sidebar_right %}
        <div class="sidebar-right-container sidebar-animate">
            <aside class="sidebar-right">
                <div class="sidebar-right-content">
                {% block sidebar_right %}{% endblock %}
                </div>
            </aside>
        </div>
        {% endif %}
    </div>

    <script>
        function remove_errors(){
            let elements = document.querySelectorAll('.error');
            elements.forEach(function (element) {
                element.remove();
            });
        }
        const stored_data = {{stored_data|tojson|safe}};
        document.querySelectorAll("form input, form textarea, form select").forEach(element => {
            if(element.name in stored_data){
                element.value = stored_data[element.name];
            }
        });
    </script>
    {% if g.sidebar %}{% include "primary-sidebar/scripts.html" %}{% endif %}
    {% block scripts %}{% endblock %}
</body>

</html>