{% extends "layout.html" %}
{% block content %}
<h2> Login </h2>
<form action="/login" method="POST">
    <p> Username: </p>
    <input type="text" name="username-stored" maxlength="{{MAX_INPUT_SIZES['username']}}" required>
    <p> Password: </p>
    <input type="password" name="password" maxlength="{{MAX_INPUT_SIZES['password']}}" required>
    <br> <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button type="submit" class="button-grey">Login</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'bad-form' %}
                <p class="error" style="color:red"> {{message}} </p>
            {% endif %}
        {% endfor %}
    {% endwith %}
    <p> No account? <a href="/create-user"> Create one! </a></p>
</form>
{% endblock %}