
<div id="page-header">
    <p id="page-header-title" class="secondary-text">
        {% if g.project_details.archived %}<span style="color: rgb(141, 110, 0);">Archived</span>{% endif %}
        <span>Project</span>
    </p>
    <h1>{{g.project_details.name}}</h1>
    <p id="page-header-desc" class="secondary-text">
        {% if g.project_details.description.strip() != '' %}{{g.project_details.description}}{% else %}No description{% endif %}
    </p>

    <a href="{{url_for('projects.route_my_tasks', group_id=g.group_id, project_id=g.project_id)}}">
        <button class="{% if g.current_page == 'project/my-tasks' %}active-button{% endif %}">My tasks</button>
    </a>
    <a href="{{url_for('projects.route_all_tasks', group_id=g.group_id, project_id=g.project_id)}}">
        <button class="{% if g.current_page == 'project/all-tasks' %}active-button{% endif %}">All tasks</button>
    </a>
    <a href="{{url_for('projects.route_stats', group_id=g.group_id, project_id=g.project_id)}}">
        <button class="{% if g.current_page == 'project/stats' %}active-button{% endif %}">Statistics</button>
    </a>
    {% if g.setting_access %}
    <a href="{{url_for('projects.route_settings', group_id=g.group_id, project_id=g.project_id)}}">
        <button class="{% if g.current_page == 'project/settings' %}active-button{% endif %}">Settings</button>
    </a>
    {% endif %}
    <hr>
</div>

