{% extends "layout.html" %}
{% block content %}
{% include "project/header.html" %}

<h1> Task progress by User </h1>
<hr>
<div class="grid-container">
    <div class="state-stats-item table-title">
        <div>Username</div>
        <div>Pending</div>
        <div>In Progress</div>
        <div>Complete</div>
        <div>Total</div>
    </div>
    {% for user in g.state_stats_by_user %}
    <div class="state-stats-item">
        <div>{{user}}</div>
        <div>{{g.state_stats_by_user[user][0]}}</div>
        <div>{{g.state_stats_by_user[user][1]}}</div>
        <div>{{g.state_stats_by_user[user][2]}}</div>
        <div>{{g.state_stats_by_user[user][0]+g.state_stats_by_user[user][1]+g.state_stats_by_user[user][2]}}</div>
    </div>
    {% endfor %}
</div>


{% endblock %}