{% extends "layout.html" %}
{% block content %}

<div class="header-flex">
    <h1>My Tasks</h1>
    <a href="/group/{{g.group_id}}/project/{{g.project_id}}/tasks/new">
        <button class="button-grey">Create New Task</button>
    </a>
</div>
<hr style="margin-top:0;">

<div class="tasks-container">
    <div class="task-item table-title">
        <div></div>
        <div>Title</div>
        <div>Priority</div>
        <div>Deadline</div>
        <div>State</div>
        <div>Assigned Members</div>
    </div>
    {% for task in g.tasks %}
    {% if task["members"]|user_in_task(g.username) %}
    <div class="task-item">
        <div class="task-summary">
            <button class="detail-toggle"><i class="fa fa-fw fa-caret-right" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <div>{{task.priority.display_name}}</div>
            <div>{{task.deadline|format_datetime}}</div>
            <div>{{task.state.display_name}}</div>
            {% if task.members %}
            <div>{% for user in task.members %}{{user.username}}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            {% else %}<div>None</div>{% endif %}
        </div>
        <div class="task-details">
            <button onclick="resetStateEditMode(this)" class="detail-toggle"><i class="fa fa-fw fa-caret-down" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <div>{{task.priority.display_name}}</div>
            <div>{{task.deadline|format_datetime}}</div>

            <div class="state-field">{{task.state.display_name}}</div>
            <form action="/group/{{g.group_id}}/project/{{g.project_id}}/task/{{task.id}}/edit-state" method="POST" style="display: none;">
                <select name="state" data-value="{{task.state.value}}">
                {% for state in g.states %}
                    <option value="{{state.value}}" {% if state.value == task.state.value %}selected disabled{% endif %}>{{state.display_name}}</option>
                {% endfor %}
                </select>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </form>

            {% if task.members %}
            <div>{% for user in task.members %}{{user.username}}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            {% else %}<div>None</div>{% endif %}

            <div class="secondary-text" style="grid-column: 2 / 6;">{{task["description"]}}</div>

            <div class="buttons-1" style="grid-column: 2 / 7;">
                {% if g.can_edit_tasks or task.members|user_in_task(g.username) %}
                <button onclick="enableStateEditMode(this)" class="button-grey button-small">Change State</button>
                {% endif %}
                {% if g.can_edit_tasks  %}
                <a href="/group/{{g.group_id}}/project/{{g.project_id}}/task/{{task['id']}}/edit">
                <button class="button-grey button-small">Edit Task</button></a>
                {% endif %}
            </div>
            
            <div class="buttons-2" style="grid-column: 2 / 7;display:none">
                <button onclick="submitStateForm(this)" class="button-green button-small" style="font-size: 70%;">Confirm</button>
                <button onclick="resetStateEditMode(this)" class="button-red button-small" style="font-size: 70%;">Cancel</button>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<h1>All Tasks</h1>
<hr>
<div class="tasks-container">
    <div class="task-item table-title">
        <div></div>
        <div>Title</div>
        <div>Priority</div>
        <div>Deadline</div>
        <div>State</div>
        <div>Assigned Members</div>
    </div>
    {% for task in g.tasks %}
    <div class="task-item">
        <div class="task-summary">
            <button class="detail-toggle"><i class="fa fa-fw fa-caret-right" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <div>{{task.priority.display_name}}</div>
            <div>{{task.deadline|format_datetime}}</div>
            <div>{{task.state.display_name}}</div>
            {% if task.members %}
            <div>{% for user in task.members %}{{user.username}}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            {% else %}<div>None</div>{% endif %}
        </div>
        <div class="task-details">
            <button onclick="resetStateEditMode(this)" class="detail-toggle"><i class="fa fa-fw fa-caret-down" style="font-size: 1.5em;"></i></button>
            <div>{{task.title}}</div>
            <div>{{task.priority.display_name}}</div>
            <div>{{task.deadline|format_datetime}}</div>

            <div class="state-field">{{task.state.display_name}}</div>
            <form action="/group/{{g.group_id}}/project/{{g.project_id}}/task/{{task.id}}/edit-state" method="POST" style="display: none;">
                <select name="state" data-value="{{task.state.value}}">
                {% for state in g.states %}
                    <option value="{{state.value}}" {% if state.value == task.state.value %}selected disabled{% endif %}>{{state.display_name}}</option>
                {% endfor %}
                </select>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </form>

            {% if task.members %}
            <div>{% for user in task.members %}{{user.username}}{% if not loop.last %}, {% endif %}{% endfor %}</div>
            {% else %}<div>None</div>{% endif %}

            <div class="secondary-text" style="grid-column: 2 / 6;">{{task["description"]}}</div>

            <div class="buttons-1" style="grid-column: 2 / 7;">
                {% if g.can_edit_tasks or task.members|user_in_task(g.username) %}
                <button onclick="enableStateEditMode(this)" class="button-grey button-small">Change State</button>
                {% endif %}
                {% if g.can_edit_tasks  %}
                <a href="/group/{{g.group_id}}/project/{{g.project_id}}/task/{{task['id']}}/edit">
                <button class="button-grey button-small">Edit Task</button></a>
                {% endif %}
            </div>
            
            <div class="buttons-2" style="grid-column: 2 / 7;display:none">
                <button onclick="submitStateForm(this)" class="button-green button-small" style="font-size: 70%;">Confirm</button>
                <button onclick="resetStateEditMode(this)" class="button-red button-small" style="font-size: 70%;">Cancel</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block sidebar_right %}
{% set search = request.args.get('search', '0') == '1' %}
<form id="search-form" style="display:contents;">

<h3 style="margin:0.6em 0"><i class="fa fa-sort" style="padding-right: 0.4em;"></i>Sort</h3>

<input type="hidden" name="search" value="1">
<div class="draggable-container">
    <div class="draggable-item" draggable="true">
        <input type="hidden" name="sort" value="deadline">
        <i class="fa fa-bars"></i>
        <span>Deadline</span>
    </div>
    <div class="draggable-item" draggable="true">
        <input type="hidden" name="sort" value="priority">
        <i class="fa fa-bars"></i>
        <span>Priority</span>
    </div>
    <div class="draggable-item" draggable="true">
        <input type="hidden" name="sort" value="state">
        <i class="fa fa-bars"></i>
        <span>State</span>
    </div>
    <div class="draggable-item" draggable="true">
        <input type="hidden" name="sort" value="title">
        <i class="fa fa-bars"></i>
        <span>Title</span>
    </div>
</div>

<h3 style="margin-bottom:0.6em"><i class="fa fa-sliders" style="padding-right: 0.4em;"></i>Filters</h3>

<div class="dropdown">
    <button type="button" onclick="toggleDropdown(this)" class="dropdown-toggle">
        <i class="fa fa-fw fa-lg fa-caret-right"></i>
        <span>Deadline</span>
    </button>
    <div class="dropdown-item-container" style="display: none;">
        <div class="dropdown-item-date">
            <label>
                Start date:<br>
                <input type="date" id="date-min" name="date-min" value="{{request.args.get('date-min','')}}">
            </label>
        </div>
        <div class="dropdown-item-date">
            <label>
                End date:<br>
                <input type="date" id="date-max" name="date-max" value="{{request.args.get('date-max','')}}">
            </label>
        </div>
    </div>
</div>
<div class="dropdown">
    <button type="button" onclick="toggleDropdown(this)" class="dropdown-toggle">
        <i class="fa fa-fw fa-lg fa-caret-right"></i>
        <span>State</span>
    </button>
    <div class="dropdown-item-container" style="display: none;">
        {% set active_states = request.args.getlist('state') %}
        {% for state in g.states %}
        <div class="dropdown-item-checkbox">
            <label>
                <input type="checkbox" name="state" value="{{state.value}}" 
                    {% if not search or state.value|string in active_states %}checked{% endif %}>
                <div>{{state.display_name}}</div>
            </label>
        </div>
        {% endfor %}
    </div>
</div>
<div class="dropdown">
    <button type="button" onclick="toggleDropdown(this)" class="dropdown-toggle">
        <i class="fa fa-fw fa-lg fa-caret-right"></i>
        <span>Priority</span>
    </button>
    <div class="dropdown-item-container" style="display: none;">
        {% set active_priorities = request.args.getlist('priority') %}
        {% for priority in g.priorities %}
        <div class="dropdown-item-checkbox">
            <label>
                <input type="checkbox" name="priority" value="{{priority.value}}"
                    {% if not search or priority.value|string in active_priorities %}checked{% endif %}>
                <div>{{priority.display_name}}</div>
            </label>
        </div>
        {% endfor %}
    </div>
</div>
<div class="dropdown">
    <button type="button" onclick="toggleDropdown(this)" class="dropdown-toggle">
        <i class="fa fa-fw fa-lg fa-caret-right"></i>
        <span>Members</span>
    </button>
    <div class="dropdown-item-container" style="display: none;">
        {% set member_type = request.args.get('member-type', 'all') %}
        <div class="dropdown-item-select">
            <span>Must include:</span>
            <select name="member-type">
                <option value="all" {% if member_type == 'all' %}selected{% endif %}>All</option>
                <option value="any" {% if member_type == 'any' %}selected{% endif %}>Any</option>
                <option value="exact" {% if member_type == 'exact' %}selected{% endif %}>Exact</option>
            </select>
        </div>
        {% set active_members = request.args.getlist('member') %}
        {% for member in g.group_members %}
        <div class="dropdown-item-checkbox">
            <label>
                <input type="checkbox" name="member" value="{{member.id}}"
                    {% if search and member.id|string in active_members %}checked{% endif %}>
                <div>{{member.username}}</div>
            </label>
        </div>
        {% endfor %}
    </div>
</div>

<div style="margin: 0.5em;">
    <button type="button" onclick="submitSearchForm()" class="button-grey">Apply</button>
    <a href="/group/{{g.group_id}}/project/{{g.project_id}}/tasks"><button type="button" onclick="saveUIState()" class="button-red-inverted">Reset</button></a>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'bad-search' %}
            <p class="error" style="color:red"> {{message}} </p>
        {% endif %}
    {% endfor %}
{% endwith %}

</form>

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
document.querySelectorAll('.task-summary button.detail-toggle').forEach(button => {
  button.addEventListener('click', function () {
    const summary = this.parentElement;
    const details = summary.nextElementSibling;
    summary.style.display = 'none';
    details.style.display = 'contents';
  });
});
document.querySelectorAll('.task-details button.detail-toggle').forEach(button => {
  button.addEventListener('click', function () {
    const details = this.parentElement;
    const summary = details.previousElementSibling;
    summary.style.display = 'contents';
    details.style.display = 'none';
  });
});

function enableStateEditMode(button){
    console.log("HELLO");
    const parent = button.closest(".task-details");
    parent.querySelector(".state-field").style.display = "none";
    parent.querySelector("form").style.display = "block";
    button.parentElement.style.display = "none";
    button.parentElement.nextElementSibling.style.display = "block";
}
function resetStateEditMode(button){
    const parent = button.closest(".task-details");
    parent.querySelector(".buttons-1").style.display = "block";
    parent.querySelector(".buttons-2").style.display = "none";
    parent.querySelector(".state-field").style.display = "block";
    parent.querySelector("form").style.display = "none";
    const select = parent.querySelector("form select");
    const optionToSelect = select.querySelector("option[value='" + select.dataset.value + "']");
    optionToSelect.selected = true;
}
function submitStateForm(button){
    const parent = button.closest(".task-details");
    parent.querySelector("form").submit();
}



const container = document.querySelector('.draggable-container');
container.addEventListener('dragstart', element => {
    if (element.target.classList.contains('draggable-item')) {
        element.target.classList.add('dragging');
    }
});
container.addEventListener('dragend', element => {
    if (element.target.classList.contains('draggable-item')) {
        element.target.classList.remove('dragging');
    }
});
container.addEventListener('dragover', element => {
    const draggingElement = document.querySelector('.dragging');
    const nextElement = getElementBelowDrag(container, element.clientY);
    if (nextElement == null) {
        container.appendChild(draggingElement);
    } else {
        container.insertBefore(draggingElement, nextElement);
    }
});

// Helper function to get the nearest element below the dragged position
function getElementBelowDrag(container, y) {
    const draggableElements = [...container.querySelectorAll('.draggable-item:not(.dragging)')];
    return draggableElements.reduce((closest, child) => {
        const box = child.getBoundingClientRect();
        const offset = y - (box.top + box.height / 2);
        
        if (offset < 0 && offset > closest.offset) {
            return { offset: offset, element: child };
        } else {
            return closest;
        }
    }, { offset: Number.NEGATIVE_INFINITY }).element;
}
function orderDragElements(order){
    const dragElements = [...container.querySelectorAll('.draggable-item')];
    for(let i = 0; i < order.length; i++){
        const dragElement = dragElements.find(item => item.querySelector("input").value === order[i]);
        container.appendChild(dragElement);
    }
}

function toggleDropdown(button){
    const items = button.nextElementSibling;
    if (items.style.display == 'none') {
        items.style.display = 'block';
    } else {
        items.style.display = 'none';
    }
    const icon = button.querySelector("i");
    icon.classList.toggle("fa-caret-right");
    icon.classList.toggle("fa-caret-down");
}

const searchForm = document.getElementById("search-form");
function saveUIState(){
    let dropdownState = [];
    searchForm.querySelectorAll(".dropdown").forEach(element => {
        dropdownState.push(element.querySelector(".dropdown-item-container").style.display);
    });
    sessionStorage.setItem("dropdownState", JSON.stringify(dropdownState));
    sessionStorage.setItem("sidebarActivate", true);
}
function submitSearchForm(){
    saveUIState();
    searchForm.submit();
}

const dragElementOrder = {{request.args.getlist("sort")|tojson}};
orderDragElements(dragElementOrder);
const dropdownState = JSON.parse(sessionStorage.getItem("dropdownState"));
if(dropdownState !== null){
    sessionStorage.removeItem("dropdownState")
    dropdowns = searchForm.querySelectorAll(".dropdown");
    for(let i = 0; i < dropdowns.length; i++){
        if(dropdownState[i] == 'block'){
            toggleDropdown(dropdowns[i].querySelector("button"));
        }
    }
}
const openSidebar =  sessionStorage.getItem("sidebarActivate");
if(openSidebar !== null){
    sessionStorage.removeItem("sidebarActivate")
    toggleRightSidebar(true);
}

</script>
{% endblock %}